In [118]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [119]:
df = pd.read_csv('../data/DIM_TIENDA.csv')
df.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,DATASET
0,126,1,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,TRAIN
1,681,1,C,Hogar,128.13,13,0,25.73571,-100.18086,Hogar Reunión,UT_DENSIDAD,TRAIN
2,117,1,C,Base,87.62,11,11,25.71883,-100.19133,Hogar Reunión,UT_DENSIDAD,TRAIN
3,682,1,C,Hogar,90.70,13,0,25.66952,-100.20744,Hogar Reunión,UT_DENSIDAD,TRAIN
4,275,1,C,Hogar,95.30,13,6,25.73766,-100.16116,Hogar Reunión,UT_DENSIDAD,TRAIN

In [120]:
df.columns

Index(['TIENDA_ID', 'PLAZA_CVE', 'NIVELSOCIOECONOMICO_DES', 'ENTORNO_DES',
       'MTS2VENTAS_NUM', 'PUERTASREFRIG_NUM', 'CAJONESESTACIONAMIENTO_NUM',
       'LATITUD_NUM', 'LONGITUD_NUM', 'SEGMENTO_MAESTRO_DESC',
       'LID_UBICACION_TIENDA', 'DATASET'],
      dtype='object')

In [121]:
df.duplicated().sum()

np.int64(0)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TIENDA_ID                   951 non-null    int64
 1   PLAZA_CVE                   951 non-null    int64
 2   NIVELSOCIOECONOMICO_DES     951 non-null    object
 3   ENTORNO_DES                 951 non-null    object
 4   MTS2VENTAS_NUM              951 non-null    float64
 5   PUERTASREFRIG_NUM           951 non-null    int64
 6   CAJONESESTACIONAMIENTO_NUM  951 non-null    int64
 7   LATITUD_NUM                 951 non-null    float64
 8   LONGITUD_NUM                951 non-null    float64
 9   SEGMENTO_MAESTRO_DESC       944 non-null    object
 10  LID_UBICACION_TIENDA        951 non-null    object
 11  DATASET                     951 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 89.3+ KB

In [123]:
df.isnull().sum()

TIENDA_ID                     0
PLAZA_CVE                     0
NIVELSOCIOECONOMICO_DES       0
ENTORNO_DES                   0
MTS2VENTAS_NUM                0
PUERTASREFRIG_NUM             0
CAJONESESTACIONAMIENTO_NUM    0
LATITUD_NUM                   0
LONGITUD_NUM                  0
SEGMENTO_MAESTRO_DESC         7
LID_UBICACION_TIENDA          0
DATASET                       0
dtype: int64

In [124]:
df['SEGMENTO_MAESTRO_DESC'].unique()

array(['Hogar Reunión', 'Oficinistas', 'Clásico', 'Parada Técnica',
       'Barrio Competido', nan], dtype=object)

In [125]:
df['ENTORNO_DES'].unique()

array(['Hogar', 'Base', 'Receso', 'Peatonal'], dtype=object)

In [126]:
df['LID_UBICACION_TIENDA'].unique()

array(['UT_DENSIDAD', 'UT_GAS_URBANA', 'UT_TRAFICO_PEATONAL',
       'UT_TRAFICO_VEHICULAR', 'UT_CARRETERA_GAS'], dtype=object)

In [127]:
moda_segmento_maestro = df['SEGMENTO_MAESTRO_DESC'].mode()[0]
df['SEGMENTO_MAESTRO_DESC'].fillna(moda_segmento_maestro, inplace=True)

In [128]:
df.isnull().sum()

TIENDA_ID                     0
PLAZA_CVE                     0
NIVELSOCIOECONOMICO_DES       0
ENTORNO_DES                   0
MTS2VENTAS_NUM                0
PUERTASREFRIG_NUM             0
CAJONESESTACIONAMIENTO_NUM    0
LATITUD_NUM                   0
LONGITUD_NUM                  0
SEGMENTO_MAESTRO_DESC         0
LID_UBICACION_TIENDA          0
DATASET                       0
dtype: int64

In [129]:
df['ENTORNO_DES'] = df['ENTORNO_DES'].astype('category')
df['NIVELSOCIOECONOMICO_DES'] = df['NIVELSOCIOECONOMICO_DES'].astype('category')
df['SEGMENTO_MAESTRO_DESC'] = df['SEGMENTO_MAESTRO_DESC'].astype('category')
df['LID_UBICACION_TIENDA'] = df['LID_UBICACION_TIENDA'].astype('category')

In [130]:
df['DATASET'].nunique()

1

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TIENDA_ID                   951 non-null    int64
 1   PLAZA_CVE                   951 non-null    int64
 2   NIVELSOCIOECONOMICO_DES     951 non-null    category
 3   ENTORNO_DES                 951 non-null    category
 4   MTS2VENTAS_NUM              951 non-null    float64
 5   PUERTASREFRIG_NUM           951 non-null    int64
 6   CAJONESESTACIONAMIENTO_NUM  951 non-null    int64
 7   LATITUD_NUM                 951 non-null    float64
 8   LONGITUD_NUM                951 non-null    float64
 9   SEGMENTO_MAESTRO_DESC       951 non-null    category
 10  LID_UBICACION_TIENDA        951 non-null    category
 11  DATASET                     951 non-null    object
dtypes: category(4), float64(3), int64(4), object(1)
memory usage: 64.2+ KB

In [132]:
df['ENTORNO_DES'] = df['ENTORNO_DES'].str.upper()
df['SEGMENTO_MAESTRO_DESC'] = df['SEGMENTO_MAESTRO_DESC'].str.upper()

In [133]:
df = df.drop('DATASET', axis= 1)
df = df.reset_index(drop=True)

In [134]:
# Eliminar espacios en blanco al inicio y final de cada nombre de columna
df.columns = df.columns.str.strip()

In [135]:
df.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA
0,126,1,BC,HOGAR,127.42,13,7,25.69107,-100.21261,HOGAR REUNIÓN,UT_DENSIDAD
1,681,1,C,HOGAR,128.13,13,0,25.73571,-100.18086,HOGAR REUNIÓN,UT_DENSIDAD
2,117,1,C,BASE,87.62,11,11,25.71883,-100.19133,HOGAR REUNIÓN,UT_DENSIDAD
3,682,1,C,HOGAR,90.70,13,0,25.66952,-100.20744,HOGAR REUNIÓN,UT_DENSIDAD
4,275,1,C,HOGAR,95.30,13,6,25.73766,-100.16116,HOGAR REUNIÓN,UT_DENSIDAD

In [136]:
df.to_csv('../data/Clean_DIM_TIENDA.csv', index=False)