In [37]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [38]:
df = pd.read_csv('../data/DIM_TIENDA_TEST.csv')
df.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,DATASET
0,680,1,C,Hogar,102.36,13,0,25.65488,-100.21207,Hogar Reunión,UT_DENSIDAD,TEST
1,730,1,C,Hogar,97.43,14,0,25.66315,-100.22738,Hogar Reunión,UT_DENSIDAD,TEST
2,650,1,C,Hogar,117.01,13,0,25.66404,-100.22993,Hogar Reunión,UT_DENSIDAD,TEST
3,670,1,C,Base,109.76,13,0,25.66508,-100.26338,Hogar Reunión,UT_DENSIDAD,TEST
4,800,1,C,Peatonal,0.00,0,0,25.69367,-100.21433,Parada Técnica,UT_TRAFICO_PEATONAL,TEST

In [39]:
df.columns

Index(['TIENDA_ID', 'PLAZA_CVE', 'NIVELSOCIOECONOMICO_DES', 'ENTORNO_DES',
       'MTS2VENTAS_NUM', 'PUERTASREFRIG_NUM', 'CAJONESESTACIONAMIENTO_NUM',
       'LATITUD_NUM', 'LONGITUD_NUM', 'SEGMENTO_MAESTRO_DESC',
       'LID_UBICACION_TIENDA', 'DATASET'],
      dtype='object')

In [40]:
df.duplicated().sum()

np.int64(0)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TIENDA_ID                   105 non-null    int64
 1   PLAZA_CVE                   105 non-null    int64
 2   NIVELSOCIOECONOMICO_DES     105 non-null    object
 3   ENTORNO_DES                 105 non-null    object
 4   MTS2VENTAS_NUM              105 non-null    float64
 5   PUERTASREFRIG_NUM           105 non-null    int64
 6   CAJONESESTACIONAMIENTO_NUM  105 non-null    int64
 7   LATITUD_NUM                 105 non-null    float64
 8   LONGITUD_NUM                105 non-null    float64
 9   SEGMENTO_MAESTRO_DESC       105 non-null    object
 10  LID_UBICACION_TIENDA        105 non-null    object
 11  DATASET                     105 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 10.0+ KB

In [42]:
df.isnull().sum()

TIENDA_ID                     0
PLAZA_CVE                     0
NIVELSOCIOECONOMICO_DES       0
ENTORNO_DES                   0
MTS2VENTAS_NUM                0
PUERTASREFRIG_NUM             0
CAJONESESTACIONAMIENTO_NUM    0
LATITUD_NUM                   0
LONGITUD_NUM                  0
SEGMENTO_MAESTRO_DESC         0
LID_UBICACION_TIENDA          0
DATASET                       0
dtype: int64

In [43]:
df['SEGMENTO_MAESTRO_DESC'].unique()

array(['Hogar Reunión', 'Parada Técnica', 'Clásico', 'Oficinistas',
       'Barrio Competido'], dtype=object)

In [44]:
df['ENTORNO_DES'].unique()

array(['Hogar', 'Base', 'Peatonal', 'Receso'], dtype=object)

In [45]:
df['LID_UBICACION_TIENDA'].unique()

array(['UT_DENSIDAD', 'UT_TRAFICO_PEATONAL', 'UT_GAS_URBANA',
       'UT_CARRETERA_GAS', 'UT_TRAFICO_VEHICULAR'], dtype=object)

In [46]:
df['ENTORNO_DES'] = df['ENTORNO_DES'].astype('category')
df['NIVELSOCIOECONOMICO_DES'] = df['NIVELSOCIOECONOMICO_DES'].astype('category')
df['SEGMENTO_MAESTRO_DESC'] = df['SEGMENTO_MAESTRO_DESC'].astype('category')
df['LID_UBICACION_TIENDA'] = df['LID_UBICACION_TIENDA'].astype('category')

In [47]:
df['DATASET'].nunique()

1

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TIENDA_ID                   105 non-null    int64
 1   PLAZA_CVE                   105 non-null    int64
 2   NIVELSOCIOECONOMICO_DES     105 non-null    category
 3   ENTORNO_DES                 105 non-null    category
 4   MTS2VENTAS_NUM              105 non-null    float64
 5   PUERTASREFRIG_NUM           105 non-null    int64
 6   CAJONESESTACIONAMIENTO_NUM  105 non-null    int64
 7   LATITUD_NUM                 105 non-null    float64
 8   LONGITUD_NUM                105 non-null    float64
 9   SEGMENTO_MAESTRO_DESC       105 non-null    category
 10  LID_UBICACION_TIENDA        105 non-null    category
 11  DATASET                     105 non-null    object
dtypes: category(4), float64(3), int64(4), object(1)
memory usage: 7.9+ KB

In [49]:
df['ENTORNO_DES'] = df['ENTORNO_DES'].str.upper()
df['SEGMENTO_MAESTRO_DESC'] = df['SEGMENTO_MAESTRO_DESC'].str.upper()

In [50]:
df = df.drop('DATASET', axis= 1)
df = df.reset_index(drop=True)

In [51]:
# Mostrar columnas con sus índices y representación exacta
for i, col in enumerate(df.columns):
    print(f"{i}: '{col}' (longitud: {len(col)})")

0: 'TIENDA_ID' (longitud: 9)
1: 'PLAZA_CVE' (longitud: 9)
2: 'NIVELSOCIOECONOMICO_DES' (longitud: 23)
3: 'ENTORNO_DES' (longitud: 11)
4: 'MTS2VENTAS_NUM' (longitud: 14)
5: 'PUERTASREFRIG_NUM' (longitud: 17)
6: 'CAJONESESTACIONAMIENTO_NUM' (longitud: 26)
7: 'LATITUD_NUM' (longitud: 11)
8: 'LONGITUD_NUM' (longitud: 12)
9: 'SEGMENTO_MAESTRO_DESC' (longitud: 21)
10: 'LID_UBICACION_TIENDA' (longitud: 20)

In [52]:
# Eliminar espacios en blanco al inicio y final de cada nombre de columna
df.columns = df.columns.str.strip()

In [53]:
df.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA
0,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD
1,730,1,C,HOGAR,97.43,14,0,25.66315,-100.22738,HOGAR REUNIÓN,UT_DENSIDAD
2,650,1,C,HOGAR,117.01,13,0,25.66404,-100.22993,HOGAR REUNIÓN,UT_DENSIDAD
3,670,1,C,BASE,109.76,13,0,25.66508,-100.26338,HOGAR REUNIÓN,UT_DENSIDAD
4,800,1,C,PEATONAL,0.00,0,0,25.69367,-100.21433,PARADA TÉCNICA,UT_TRAFICO_PEATONAL

In [54]:
df.to_csv('../data/Clean_DIM_TIENDA_TEST.csv', index=False)