In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('../data/Venta.csv')
df.head()

   TIENDA_ID  MES_ID  VENTA_TOTAL
0        813  202404   1042761.16
1        742  202404    604946.96
2        436  202404   2486787.81
3        732  202404    680701.78
4        282  202404   1227768.82

In [20]:
df.shape

(21381, 3)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21381 entries, 0 to 21380
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIENDA_ID    21381 non-null  int64
 1   MES_ID       21381 non-null  int64
 2   VENTA_TOTAL  21381 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 501.2 KB

In [22]:
df.isnull().sum()

TIENDA_ID      0
MES_ID         0
VENTA_TOTAL    0
dtype: int64

In [23]:
df.duplicated().sum()

np.int64(0)

In [24]:
# Eliminar espacios en blanco al inicio y final de cada nombre de columna
df.columns = df.columns.str.strip()

In [25]:
df.to_csv('../data/Clean_Ventas.csv', index=False)