In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('../data/Meta_venta.csv')
df.head()

  ENTORNO_DES  Meta_venta
0        Base      480000
1       Hogar      490000
2    Peatonal      420000
3      Receso      516000

In [39]:
# Eliminar espacios en blanco al inicio y final de cada nombre de columna
df.columns = df.columns.str.strip()

In [40]:
df['ENTORNO_DES'] = df['ENTORNO_DES'].str.upper()

In [41]:
df.head()

  ENTORNO_DES  Meta_venta
0        BASE      480000
1       HOGAR      490000
2    PEATONAL      420000
3      RECESO      516000

In [42]:
df.to_csv('../data/Clean_Meta_venta.csv', index=False)