In [12]:
import pandas as pd

In [13]:
df1 = pd.read_csv('../data/Clean_DIM_TIENDA_TEST.csv')
df2 = pd.read_csv('../data/Clean_Ventas.csv')

In [14]:
df_merged = pd.merge(df1, df2, on="TIENDA_ID", how="inner")  
df_merged.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,MES_ID,VENTA_TOTAL
0,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202411,680952.50
1,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202305,368427.77
2,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202306,700092.96
3,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202307,619600.33
4,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202404,840681.62

In [15]:
umbrales = {
    "BASE": 480000,
    "HOGAR": 490000,
    "PEAATONAL": 420000,
    "RECESO": 516000
}

# Asegurar que ENTORNO_DES no tenga espacios extras también
df_merged["ENTORNO_DES"] = df_merged["ENTORNO_DES"].str.strip()  # estandariza

# Crear columna TARGET
df_merged["TARGET"] = df_merged.apply(
    lambda row: 1 if row["VENTA_TOTAL"] >= umbrales.get(row["ENTORNO_DES"], float('inf')) else 0,
    axis=1
)

In [16]:
df_merged.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,MES_ID,VENTA_TOTAL,TARGET
0,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202411,680952.50,1
1,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202305,368427.77,0
2,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202306,700092.96,1
3,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202307,619600.33,1
4,680,1,C,HOGAR,102.36,13,0,25.65488,-100.21207,HOGAR REUNIÓN,UT_DENSIDAD,202404,840681.62,1